<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>Simple Dashboard</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Javascripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

        <script src="{{ url_for('static', filename='app/app.js') }}"></script>

        <style type="text/css">
            body {
                font-family: 'Quicksand', sans-serif;
            }
            a {
                color: #3c763df2;
            }
            #sex_id, #relationship_id, #race_id {
                display: none;
            }
        </style>


    </head>
    <body ng-app="pocapp">
        <div class="container">
            <!-- Static navbar -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Survaider</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="../navbar-fixed-top/">Hello welcome!</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>
            <div class="col-md-6">
                <div ng-controller="genderChart">
                    <h3>Gender wise distribution</h3>
                    <canvas id="graph1" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div ng-controller="relationshipChart">
                    <h3>Relation wise distribution</h3>
                    <canvas id="graph2" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="container">
            <div ng-controller="displayPersonDataCtrl" class="text-center">
                <br>
                <h3> Person Data </h3>
                <br>
                <div class="bs-example" data-example-id="nav-pills-with-dropdown">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="dropdown">
                            <a style="color: #999;">Filter by: &nbsp</a>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Race <span class="caret"></span> </a>
                            <p id="race_id">[[selected_race]]</p>
                            <ul class="dropdown-menu">
                                <li ng-repeat="each_race in race"><a ng-click="renderData(each_race, 'race')">[[each_race]]</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Relationship <span class="caret"></span> </a>
                            <p id="relationship_id">[[selected_relationship]]</p> 
                            <ul class="dropdown-menu">
                                <li ng-repeat="each_relationship in relationship"><a ng-click="renderData(each_relationship, 'relationship')">[[each_relationship]]</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Sex <span class="caret"></span> </a> 
                            <p id="sex_id">[[selected_sex]]</p>
                            <ul class="dropdown-menu">
                                <li ng-repeat="each_sex in sex"><a ng-click="renderData(each_sex, 'sex')">[[each_sex]]</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Age</th>
                        <th>Country</th>
                        <th>Education</th>
                        <th>Fnlwgt</th>
                        <th>Gain</th>
                        <th>Loss</th>
                        <th>Num</th>
                        <th>Occupation</th>
                        <th>Race</th>
                        <th>Relationship</th>
                        <th>Sex</th>
                        <th>Status</th>
                        <th>Week</th>
                        <th>Workclass</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="each_person in person_list_data">
                        <td ng-repeat="(field, value) in each_person">[[value]]</td>
                    </tr>
                </tbody>
                </table>
                <a class="btn btn-default" ng-click="nextPage()">Next Page ></a>
                <br>
                <br>
            </div>
        </div>
    </body>
</html>